@import "reset-css";
@import "normalize-scss/sass/normalize";
@include normalize();

$font-space: 'Space Grotesk', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

.t1        { font-family: $font-space;      font-size: 72px;  line-height: 92px;  letter-spacing: 0; }
.t2        { font-family: $font-space;      font-size: 64px;  line-height: 82px;  letter-spacing: 0; }
.t3        { font-family: $font-space;      font-size: 48px;  line-height: 82px;  letter-spacing: 0; }
.t4        { font-family: $font-space;      font-size: 36px;  line-height: 46px;  letter-spacing: 0; }
.subtitle  { font-family: $font-space;      font-size: 32px;  line-height: 41px;  letter-spacing: 0; }
.subtitle2 { font-family: $font-space;      font-size: 24px;  line-height: 31px;  letter-spacing: 0; }
.button    { font-family: $font-space;      font-size: 24px;  line-height: 31px;  letter-spacing: 0; }
.body      { font-family: $font-montserrat; font-size: 20px;  line-height: 24px;  letter-spacing: 0; }
.body2     { font-family: $font-montserrat; font-size: 20px;  line-height: 26px;  letter-spacing: 0; }
.body3     { font-family: $font-montserrat; font-size: 16px;  line-height: 20px;  letter-spacing: 0; }
.body4     { font-family: $font-montserrat; font-size: 14px;  line-height: 23px;  letter-spacing: 0; }
.input     { font-family: $font-montserrat; font-size: 12px;  line-height: 15px;  letter-spacing: 0; }

@media (min-width: 1296px) {
  .t1        { font-size: 104px; line-height: 133px;}
  .t2        { font-size: 72px;  line-height: 92px; }
  .t3        { font-size: 64px;  line-height: 82px; }
  .t4        { font-size: 63px;  line-height: 61px; }
  .subtitle  { font-size: 32px;  line-height: 41px; }
  .button    { font-size: 24px;  line-height: 31px; }
  .body      { font-size: 20px;  line-height: 20px; }
  .menu      { font-family: $font-space; font-size: 18px;  line-height: 23px; }
  .footer    { font-size: 16px;  line-height: 20px; }
  .input     { font-size: 12px;  line-height: 15px; }
  .input2    { font-family: $font-montserrat; font-size: 8px;   line-height: 10px; }
}

* {
  overflow: visible;
}